<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    {{!-- Top menu  --}}
    {{> header}}
    {{!-- Body of the page --}}
    {{!-- Search Launch by name  --}}
    <div class="search-container">
        <form action="">
            <label for="lsearch">Search Launch:</label>
            <input type="search" id="lsearch" name="lsearch">
            <input type="submit" value="Submit">
        </form>
    </div>
    {{!-- End of the search  --}}
    <div class="container">
        {{#each launchdata}}
        <div class="box">
            <div class="body">
                <ul id="sites">
                    <li>
                        <a href="/app_server/controllers/news">
                            <img src="images/{{this.upcoming_launch_image}}.jpg" alt="Img">
                        </a>
                        <h2>
                            <a href="/news">{{this.upcoming_launch_title}}</a>
                        </h2>
                        <p><strong>Date:</strong> {{this.upcoming_launch_date}}</p>
                        <p><strong>Time:</strong> {{this.upcoming_launch_time}}</p>
                        <p><strong>Base:</strong> {{this.upcoming_launch_base}}</p>
                        <p><strong>Location:</strong> {{this.upcoming_launch_location}}</p>
                        <p><strong>Rocket:</strong> {{this.upcoming_launch_rocket}}</p>
                        <p><strong>Company:</strong> {{this.upcoming_launch_company}}</p>
                        <p>{{this.upcoming_launch_description}}</p>
                        <p><a href="{{this.url}}" target="_blank">More info</a></p>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
    {{!-- Footer menu  --}}
    {{> footer}}
</body>
</html>
